<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/hng.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Document</title>
</head>
<body><nav class="navbar navbar-expand-lg  ftco-navbar-light">
    <div class="container-xl">
    <a class="navbar-brand" href="#">
        <img src="public/css/logo.png" alt="logo" width="100px" height="50px" >
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    </div>
    </nav>


    <div class="container-fluid">
        <div class=" justify-content-center row">
            <div class="col-md-8">

                <h1 class="text-center"> CONTACT FORM </h1>
                <form method="POST"  id="myForm" action="send">
                 
                    <p><input placeholder="Name" required type="text" name ="name"></p>
                   <p> <input placeholder="Email" required type="email" name="email"></p>
                   <p> <input placeholder="Phone" required type="text" name="Phone"></p>
                    <p><input placeholder="Subject" required type="text" name="subject"></p>
                    <textarea placeholder="Message" required type="text-area" name="messsage"></textarea>
                
                    <div class="text-center" id="buttons">
                        <button  type="submit" > SEND MESSAGE</button>
                    </div>
                </form>
            </div>
         </div>      
    </div>

<script>
</script>
</body>
</html>
